.catButton {
    background: "red";
    height: 75px;
    width: 75px;
    display: inline-block;
    user-select: none;
    transition: all 0.25s;
}

.catButton:hover {
  filter: brightness(150%);
}

.catContainer {
  display: flex;
  align-items: flex-start; /* vertically align button and text */
  gap /* space between button and text */
}
