.catButton {
    height: 100%;
    width: 100%;
    display: inline-block;
    user-select: none;
    transition: all 0.25s;
    position: relative;
    background-size: contain;

  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.catButtonContainer{
    height: 75px;
    width: 75px;
    display: inline-block;
    user-select: none;
    transition: all 0.25s;
    position: relative;
}

.dragIcon {
  left: 0;
  bottom: 0;
  position: absolute;
  user-select: none;
  transition: all 0.25s;
  width: 20px;
  app-region: drag;
}

.dragIcon:hover {
  width: 30px;
}

.catButton:hover {
  filter: brightness(150%);
  
}

.catContainer {
  display: flex;
  align-items: flex-start; /* vertically align button and text */
  
}