
.mainContainer {
  height: fit-content;
  margin: 0;
  overflow-x: hidden;

}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-family: "Micro 5 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;  display: block;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200vw;
  min-height: 0;
  height: fit-content;

}

.chatBox {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message {
  border: 1px solid white;
  font-size: 20px;
  padding: 8px 12px;
  background: transparent;
  border-radius: 8px;
  max-width: 190px;
  overflow-wrap: break-word;
  color: white;
  position: relative;
  
}

.message.bot {
    color: rgb(255, 165, 10);
    border: 1px solid rgb(255, 165, 10);

}
.inputForm {
/* position: absolute; */


  
  vertical-align: middle;
  display: flex;
  width: 100%;
  height: 75px;
  outline: none;

  margin: 0;
}

.input {
  
  outline: none;
  border: none;
  flex: 1;
  padding: 10px;
  margin: 0;
  /* font-size: 13px; */
  font-family: "Micro 5 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;

  background-color: transparent;
  color: white;
  transition: all 0.25s;
  width: 250px;
  resize: none;

}
.input::placeholder{
  transition: all 0.25s;
  color: white;
}

.input:hover{
  color: rgb(255, 165, 10);
}

.input:hover::placeholder{
  color: rgb(255, 165, 10);
}

.input:focus{
  color: rgb(255, 165, 10);
}

.input:focus::placeholder{
  color: rgb(255, 165, 10);
}


pre::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb {
  background: white;   /* scrollbar thumb color */
}

pre::-webkit-scrollbar-track,
code::-webkit-scrollbar-track {
  background-color: rgb(60, 45, 20); /* dark background */
}


pre {
  color: white;           /* light text */
  overflow-x: auto;
  font-size: 0.6rem;
}

/* Inline code (`like this`) */
code {
  border-radius: 0.25rem;
}

.catIcon {
  position: absolute;
  top: -20px;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: contain;
  z-index: 10;
  will-change: transform;
}